.container {

  margin: 5px 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 28px;
  gap: 8px;

}
.heading{

  text-align: center;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 50px;
  border-radius: 28px;
  font-family: 'Hammersmith One', sans-serif;
 
}
.inp{
  border-radius: 28px;
 background-color: slateblue;
  min-height: 40px;
  color: white;
  font-size: x-large;
  font-weight: bold;
  text-transform: capitalize;
  transition: ease-in-out;
  transition-delay: .20s;
  transition-duration: .35s;
  padding: 5px;
  max-height: 30%;
  padding-inline-start: 0px;

  border-color: slateblue;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
 
}
input:focus-visible {
  outline-offset: 0px;
  outline-style: none;
  border-color: black;

}
input::placeholder{
  color: white;
  padding-inline-start: 0px;
  font-family: 'Josefin Sans', sans-serif;
}
input[type=text]:focus{
  border: none;
  border-radius: 28px;
  width: 80%;
  background-color: black;

}



.btn{
  margin-left: 25px;
  border-radius: 100px;
  width: 45px;
  cursor: pointer;
  min-height: 35px;
  color: white;
  font-weight: bold;
  font-size: xx-large;
  background-color: blueviolet;
  border-color: blueviolet;
}
.btn:hover{
  background-color: greenyellow;
  color: black;
  
}
li{
 
  width: 95%;
  text-align: center;
  margin-top: 10px;
  font-size: xx-large;
  word-break: break-all;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
  
}
li:nth-child(odd){
  background-color: thistle;
  border-radius: 30px;
}
li:nth-child(even){
  background-color: rgb(231, 136, 250);
  border-radius: 30px;
}


ol{
  list-style-type: devanagari;
  
}
.material-icons{
    
    padding: 10px;
  font-size: 55px;
  vertical-align: middle;
  
}
.material-icons:hover{
  color: red;
  cursor: pointer;
}

ol.div{
  text-align: right;
}

 @media only screen and (max-width:470px)   {


  .container{
    align-items: center;
  }
 
  .heading{
    width: 93%;
  }
  
  input[type=text]:focus{
   
    width: 97%;
   
  
  }
 .inpmobile{
   align-items: center;
 }
  
 
 .btn{
   display: block;
 margin-top: 8px;
 align-content: center;
 text-align: center;
   width: 80%;
  
 }
 ol{
  padding-inline-start: 10px;
 
 }
 .oldiv{
   width: 75%;
 }

} 
@media only screen and (max-width:299px){
  .inpmobile{
    align-items: center;
  }
   
  .inp{
    width: 95%;
  }
  input[type=text]:focus{
   
    width: 97%;
   
  
  }
  .btn{
    display: block;
  margin-top: 8px;
  align-content: center;
  text-align: center;
    width: 80%;
   margin-left: 22px;
  }
  ol{
   
   padding-inline-start: 20px;
  }
  .oldiv{
    width: 75%;
    
  }
  
}
