.container {
  margin: 5px 30px;
  display: flex;
  flex-direction: column;
  
  background-color: white;
  
  border-radius: 28px;
  gap: 8px;
}
.heading{

  text-align: center;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: x-large;
  border-radius: 28px;
  
 
}
.inp{
  border-radius: 28px;
 background-color: slateblue;
  min-height: 40px;
  color: white;
  font-size: large;
  font-weight: bold;
  text-transform: capitalize;
  transition: ease-in-out;
  transition-delay: .20s;
  transition-duration: .35s;
  padding: 5px;
  max-height: 30%;
  text-indent: 30px;
  border-color: slateblue;
 
}
input:focus-visible {
  outline-offset: 0px;
  outline-style: none;
  border-color: black;

}
input::placeholder{
  color: white;
}
input[type=text]:focus{
  border: none;
  border-radius: 28px;
  width: 80%;
  background-color: black;

}



.btn{
  margin-left: 25px;
  border-radius: 100px;
  width: 45px;
  cursor: pointer;
  min-height: 35px;
  color: white;
  font-weight: bold;
  font-size: x-large;
  background-color: blueviolet;
  border-color: blueviolet;
}
.btn:hover{
  background-color: greenyellow;
  color: black;
  
}
li{
  padding: 10px;
  width: 93%;
  text-align: center;
  margin-top: 10px;
}
li:nth-child(odd){
  background-color: thistle;
  border-radius: 30px;
}
li:nth-child(even){
  background-color: rgb(231, 136, 250);
  border-radius: 30px;
}
ol{
  list-style-type: devanagari;
  
}

 @media only screen and (max-width:470px)   {


  .container{
    align-items: center;
  }
 
  .heading{
    width: 93%;
  }
  
  input[type=text]:focus{
   
    width: 97%;
   
  
  }
 .inpmobile{
   align-items: center;
 }
  
 
 .btn{
   display: block;
 margin-top: 8px;
 align-content: center;
 text-align: center;
   width: 80%;
  
 }
 ol{
  padding-inline-start: 0px;
 
 }
 .oldiv{
   width: 75%;
 }

} 
@media only screen and (max-width:299px){
  .inpmobile{
    align-items: center;
  }
   
  .inp{
    width: 93%;
  }
  input[type=text]:focus{
   
    width: 95%;
   
  
  }
  .btn{
    display: block;
  margin-top: 8px;
  align-content: center;
  text-align: center;
    width: 80%;
   
  }
  ol{
   padding-inline-start: 0px;
  
  }
  .oldiv{
    width: 75%;
  }
}
/* @media only screen and (min-width:100px) and (max-width: 400px){
  .btn {
    margin-left:40px;
  }
.container{
  margin: 0px 5px;
}
ol{
  margin-left: 0px;
}}
  
} */
/* @media only screen and  (min-width:361px) and (max-width:650px)  {
  .btn{
    margin-top: 15px;
    margin-left: 60px;
   
  }
  .container{
    margin: 0px 5px;
  }
  ol{
    margin-left: 15px;
  }
}
@media only screen and  (min-width:651px) and (max-width:779px) {
  ol{
    margin-left: 15px;
  }
  .btn{
    margin-left: 75px;
  }
  .container{
    margin: 0px 5px;
  }
} */
